.more-content-container {
  display: flex;
  gap: 20px;
  height: 100px;
  padding: 10px;
  .image-detail-more {
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border-radius: 10px;
  }
  .content-detail-more {
    width: 35%;
    .name-clinc {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }
    .address-clinic {
      margin-top: 5px;
      font-size: 16px;
      i {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}
