.detail-doctor-top {
  margin-top: 70px;
  .content-detail-top {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .detail-doctor-top-left {
    width: 20%;
    display: flex;
    align-items: center;
    .avatar-doctor {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .detail-doctor-top-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    .detail-doctor-title {
      width: 100%;
      font-size: 30px;
      font-weight: 600;
    }
    .detail-doctor-des {
      font-size: 14px;
      color: grey;
    }
  }
  .schedule-doctor-container {
    width: 100%;
    display: flex;
    min-height: 250px;
    .schedule-left {
      width: 50%;
    }
    .schedule-right {
      width: 50%;
    }
  }
}

.detail-doctor-content {
  h3 {
    font-size: 18px;
    color: dodgerblue;
  }
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  .detail-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px #20212447;
  }
}
