.input-img-container {
  display: flex;
  .img-label {
    width: 35%;
    height: 34px;
    margin-right: 20px;
    display: block;
    padding: 6px 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .img-preview {
    width: 60%;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.btn-submit {
  width: 150px;
  height: 40px;
}
