.home-header-container {
  padding: 0 20px;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  .home-header-content {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: inherit;
      .icon {
        font-size: 22px;
        cursor: pointer;
        margin-right: 10px;
      }
      .header-logo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        img {
          width: 140px;
          height: 100%;
        }
      }
    }
    .content-center {
      height: inherit;
      width: 60%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      .content-child {
        cursor: pointer;
        .child-title {
          font-weight: 600;
        }
        .child-subtitle {
          font-size: 10px;
        }
      }
    }
    .content-right {
      height: inherit;
      width: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .content-support {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .question {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 50%;
          background-color: cornflowerblue;
          color: #fff;
        }
        .content-question {
          margin-left: 5px;
          font-size: 16px;
          font-weight: 600;
          color: grey;
        }
      }
      .content-lang {
        font-weight: 600;
        font-size: 16px;
        .content-lang-vi {
          margin-right: 10px;
          cursor: pointer;
          opacity: 0.3;
          &.isActive {
            opacity: 1;
            color: coral;
          }
          &:hover {
            color: coral;
          }
        }
        .content-lang-en {
          margin-left: 10px;
          cursor: pointer;
          opacity: 0.3;
          &.isActive {
            opacity: 1;
            color: coral;
          }
          &:hover {
            color: coral;
          }
        }
      }
    }
  }
}

.home-header-banner {
  margin-top: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1)),
    url("../../assets/images/bgc.webp") center center / cover no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .banner-up {
    width: 100%;
    height: 65%;
    text-align: center;
    margin-top: 50px;
    .banner-title {
      color: #fff;
      text-shadow: 1px 1px 1px rgb(52, 51, 51);
      font-weight: 600;
    }
    .banner-main-title {
      font-weight: 600;
      margin-bottom: 20px;
    }
    .banner-search {
      text-align: center;
      margin: 0 auto;
      width: fit-content;
      background-color: rgb(248, 218, 48);
      padding: 12px 20px;
      border-radius: 25px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
      i {
        font-size: 20px;
        margin-right: 10px;
      }
      .banner-input {
        width: 400px;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .banner-down {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1)
    );
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    .banner-down-options {
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 50%;
      .banner-options {
        text-align: center;
        min-width: 20%;
        cursor: pointer;
        &:hover .options-title {
          color: cornflowerblue;
        }
        i {
          font-size: 30px;
          color: cornflowerblue;
          margin-bottom: 10px;
          width: 70px;
          height: 70px;
          text-align: center;
          line-height: 70px;
          border-radius: 50%;
          background-color: #fff;
        }
        .options-title {
          font-size: 17px;
          color: #000;
          font-weight: 600;
        }
      }
    }
  }
}
